<div ng-controller="AboutCtrl">
  <div class="ui horizontal segments" style="height: 250px; overflow: auto;">
  <div class="ui segment">
    <img src={{objMovie.url}}>
    </div>
    <div class="ui segment">
      <p>Movie Content</p>
    </div>
    <div class="ui segment">
      <table class="ui stripped table">
        <tbody id="bodyt">
          <tr ng-repeat="val in res track by $index">
            <td><textarea disabled="disabled">{{val.strMovieComments}}</textarea></td>
            <td class="ui rating"></td>
          </tr>
        </tbody>
      </table>
      <div class="ui rating"></div>
      <textarea ng-model="strComments"></textarea>
      <button class = "ui button" ng-click="save()">comment</button>
    </div>
  </div>
</div>
