<div ng-controller="MainCtrl">
  <div class="ui four cards">
    <a class="red small card" ng-click="comment('/app/images/manyam.jpg','manyam')">
      <div class="image">
        <img src='/app/images/manyam.jpg'>
      </div>
    </a>
    <a class="orange card" ng-click="comment('/app/images/sarainodu.jpg','sarainodu')">
      <div class="image">
        <img src='/app/images/sarainodu.jpg'>
      </div>
    </a>
    <a class="yellow card" ng-click="comment('/app/images/d.jpg','d')">
      <div class="image">
        <img src='/app/images/d.jpg'>
      </div>
    </a>
    <a class="olive card" ng-click="comment('/app/images/jntha.jpg','jntha')">
      <div class="image">
        <img src='/app/images/jntha.jpg'>
      </div>
    </a>
  </div>
</div>
